/* color: #188038;
background-color: #e6f4ea;
background-color: #05c170 (grid) */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/* **************************************** Menu Container **************************************** */
/* ******************** Menu Item 1 ******************** */
.menu-item-1 {
    display: flex;
    height: 50px;
    border-bottom: lightgray 1px solid;
    padding: 10px;
}

.menu-container-item {
    display: flex;
    width: 100%;
    gap: 20px;
    height: 25px;
}

.menu-container-item input {
    padding: 5px;
    border: none;
}

.menu-container-item input:hover {
    border: 1px lightgray solid;
}

.menu-item-option {
    padding: 5px;
}

.menu-item-option:hover {
    cursor: pointer;
    border-radius: 3px;
    background: #e6f4ea;
}


/* ******************** Menu Item 2 ******************** */
.menu-item-2 {
    display: flex;
    height: 25px;
    border-bottom: 1px lightgray solid;
    padding: 10px;
}

.menu-item-2>select {
    border-radius: 3px;
    width: 20%;
    margin-right: 10px;
}

.styler-btn-container {
    display: flex;
}

.styler-btn {
    padding: 0 10px 0 10px;
}

.styler-align {
    margin: 0 10px 0 10px;
}

.styler-btn-container input {
    margin-left: 10px;
}

.styler-btn:hover {
    cursor: pointer;
    background: #e6f4ea;
    border-radius: 3px;
}

.active-styler {
    color: #188038;
    background-color: #e6f4ea;
}


/* **************************************** Formula Container **************************************** */
.formula-container {
    display: flex;
    height: 25px;
    border-bottom: 1px lightgray solid;
    padding: 5px 10px;
}


/* ******************** Address Box ******************** */
.address-box {
    padding: 5px;
    border: none;
    outline: none;
}

.address-box:hover {
    background-color: #e6f4ea;
}

.formula-container img {
    filter: grayscale(100%);
    height: 25px;
    padding: 0px 5px;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
}


/* ******************** Formula Box ******************** */
.formula-box {
    width: 100%;
    padding: 5px;
    outline: none;
    border: none;
}


/* ******************** Grid Container ******************** */
.grid-container {
    /* TOTAL - MENU - FORMULA - FOOTER */
    height: calc(100vh - (117px + 36px + 40px));
    overflow: auto;
    position: relative;
}

.top-left-box {
    height: 30px;
    width: 30px;
    background-color: #05c170;
}

.top-row {
    position: absolute;
    top: 0px;
    left: 30px;
    height: 30px;
    display: flex;
    background-color: #05c170;
}

.left-col {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 30px;
}

.grid {
    position: absolute;
    top: 30px;
    left: 30px;
}

.left-col-box {
    height: 30px;
    color: white;
    background-color: #05c170;
    border-top: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    overflow: hidden;
}

.col {
    width: 100px;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    min-height: 30px;
    max-height: 30px;
    line-height: 30px;
    overflow: hidden;
}

.top-row .col {
    text-align: center;
    border-left: 1px solid gray;
    color: white;
}


/* **************************************** Footer Container **************************************** */
.footer {
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.plus-btn {
    width: 35px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid gray;
}

.fa-plus {
    color: gray;
}

.fa-plus:hover {
    cursor: pointer;
    color: #188038;
}

.sheets {
    height: 100%;
    width: calc(100vw - 35px);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    overflow-y: hidden;
}

.sheet {
    background-color: white;
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px;
    color: gray;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
}

.workbook {
    background-color: lightgray;
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px;
    margin: 0 20px;
}

.sheet:hover {
    cursor: pointer;
}

.workbook:hover {
    color: #188038;
    background-color: #e6f4ea;
    cursor: pointer;
    font-weight: bold;
}

.active-sheet {
    z-index: 10;
    color: #188038;
    background-color: #e6f4ea;
    box-shadow: 0 0 5px gray;
    font-weight: bold;
}
